.folk-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .folk-accordion {
    margin-top: 20px;
  }
  
  .folk-item {
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #f1be72;
  }
  
  .folk-header {
    background-color: #f1be72;
    cursor: pointer;
  }
  
  .folk-body {
    padding: 20px;
    background-color: white;
  }
  
  .folk-image {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .folk-description {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px;
  }
  